{% extends "layout.html" %}
{% block title %}Appearances{% endblock %}
{% block content %}
<section class="container mt-4">
    <div class="row">
         <!-- Sidebar -->
         <div class="col-md-4 col-lg-3 mb-3 ">
            <div class="card">
                <div class="card-header">
                    <h3>Search Player</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('appearances') }}" method="get" class="mb-4">
                        <div class="input-group mb-3">
                            <input type="text" name="search" class="form-control" placeholder="Search for a player...">
                            <button type="submit" class="btn btn-outline-secondary">Search</button>
                        </div>
                    </form>

                    <h3>Filter Clubs</h3>
                    <form action="{{ url_for('appearances') }}" method="get">
                         <!-- Club Filter -->
                         <div class="mb-3">
                            <label for="club" class="form-label">Club:</label>
                            <select name="club" id="club" class="form-select">
                                <option value="">Any</option>
                                {% for club in clubs %}
                                    <option value="{{ club }}">{{ club }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                    </form>

                </div>
            </div>
                <div class="mt-2 mb-3"> 
                    <a href="{{ url_for('add_appearance') }}" class="btn btn-light w-100">
                        <i class="fas fa-plus"></i> Add Appearance
                    </a>
                </div>
         </div>
        
        
        <div class="col-md-8 col-lg-9">
            <h2>Player Appearances</h2>

            {% if result %}
            <table class="table table-hover table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Player</th>
                        <th class="text-center">CLUB</th>
                        <th class="text-center">EDIT</th>
                        <th class="text-center">DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td><a href="{{ url_for('appearance_details', appearance_id=row[3]) }}" class="player-link">{{ row[1] }}</a></td>
                        <td>{{ row[2] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('edit_appearance', appearance_id=row[3]) }}" class="btn btn-sm btn-secondary">
                                <i class="fas fa-edit"></i> 
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('appearance_delete', appearance_id=row[3]) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this appearance?');">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

                 <!-- Pagination -->
                 <div style="margin-top: 20px;">
                    <ul class="pagination">
                        {% if page > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('appearances', page=page-1, search=search_query, country=country_filter, position=position_filter, club=club_filter) }}">Previous</a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">Page {{ page }} of {{ total_pages }}</span>
                        </li>
                        {% if page < total_pages %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('appearances', page=page+1, search=search_query, country=country_filter, position=position_filter, club=club_filter) }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
        {% else %}
            <p>No data available.</p>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}
