<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbalmania - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<section class="container my-5">
    <div class="card">
        <div class="card-header">
            Edit Player Details
        </div>
        <form action="{{ url_for('edit_player', player_id=player.player_id) }}" method="post">
            <div class="card-body">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ player.first_name }}">

                    
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ player.last_name }}">

                    <label for="players_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="players_name" name="players_name" value="{{ player.players_name }}">

                    <label for="last_season" class="form-label">Last Season</label>
                    <input type="text" class="form-control" id="last_season" name="last_season" value="{{ player.last_season }}">

                    <label for="player_code" class="form-label">Player Code</label>
                    <input type="text" class="form-control" id="player_code" name="player_code" value="{{ player.player_code }}">

                    
                    <label for="country_of_birth" class="form-label">Country of Birth</label>
                    <input type="text" class="form-control" id="country_of_birth" name="country_of_birth" value="{{ player.country_of_birth }}">

                    <label for="city_of_birth" class="form-label">City of Birth</label>
                    <input type="text" class="form-control" id="city_of_birth" name="city_of_birth" value="{{ player.city_of_birth }}">

                    <label for="country_of_citizenship" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country_of_citizenship" name="country_of_citizenship" value="{{ player.country_of_citizenship }}">


                    <label for="date_of_birth" class="form-label">Date of Birth</label>
                    <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ player.date_of_birth }}">

                    <label for="sub_position" class="form-label">Sub-Position</label>
                    <input type="text" class="form-control" id="sub_position" name="sub_position" value="{{ player.sub_position }}">

                    <label for="position" class="form-label">Position</label>
                    <input type="text" class="form-control" id="position" name="position" value="{{ player.position }}">

                    <label for="foot" class="form-label">Preferred Foot</label>
                    <input type="text" class="form-control" id="foot" name="foot" value="{{ player.foot }}">

                    <label for="height_in_cm" class="form-label">Height</label>
                    <input type="text" class="form-control" id="height_in_cm" name="height_in_cm" value="{{ player.height_in_cm }}">

                    <label for="highest_market_value_in_eur" class="form-label">Highest Market Value</label>
                    <input type="text" class="form-control" id="highest_market_value_in_eur" name="highest_market_value_in_eur" value="{{ player.highest_market_value_in_eur }}">


                    <label for="agent_name" class="form-label">Agent</label>
                    <input type="text" class="form-control" id="agent_name" name="agent_name" value="{{ player.agent_name }}">

                    <label for="image_url" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="image_url" name="image_url" value="{{ player.image_url }}">
                    
                    <label for="current_club_name" class="form-label">Current Club name</label>
                    <input type="text" class="form-control" id="current_club_name" name="current_club_name" value="{{ player.current_club_name }}">                    

                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</section>

